<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Play - Cyber Odyssey</title>

    <link rel="icon" href="/static/images/logo.png">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon" />

    <link href="/static/css/play.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script>
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
</head>

<body>

    <main>
        <header>
            <nav>
                <h1 class="event_title">Cyber Odyssey</h1>
                {% if show_name %}
                <div class="person-name">
                    <p>{{ show_name }}</p>
                </div>
                {% endif %}
                <div>
                    <a href="/logout"><button>Logout</button></a>
                </div>
            </nav>
        </header>
        <section class="play-section">
            <h1 class="form-title">Play - Cyber Odyssey</h1>
            <div>
                {% if attempted_correct[0] %}
                {% if attempted_correct[1] %}
                <p style="color: green;">Your answer is correct!</p>
                {% elif not attempted_correct[1] %}
                <p style="color: red;">Your answer is wrong!</p>
                {% endif %}
                {% endif %}
            </div>
            <div class="question-holder">
                <div>
                    <!-- Question Number -->
                    {% if ques_no %}
                    <p>Q.No {{ ques_no }}</p>
                    {% endif %}
                </div>
                <div>
                    <!-- Question Text -->
                    {% if q_type=="i" %}
                    <img class="question-image" src="{{  question  }}">
                    {% elif q_type=="t" %}
                    <p class="question-text">
                        {{ question }}
                    </p>
                </div>
                {% endif %}
            </div>
            <form method="post" action="/play">
                <label for="answer">Your answer</label>
                <input class="form-input" type="text" id="answer" name="answer" required />
                <input class="button" type="submit" value="Submit" />
            </form>
        </section>
    </main>
</body>

</html>